/* components/ToastProvider.module.css */

/* Estilo base del toast */
.toast {
  border-radius: 5px;
  padding: 1rem;
  font-size: 0.875rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Estilo del contenido del toast */
.toastBody {
  color: var(--main-color);
}

/* Estilo del botón de cerrar */
.closeButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  line-height: 1;
  transition: color 0.3s ease, transform 0.2s ease;
}

.closeButton:hover {
  color: var(--last-color);
  transform: scale(1.2);
}

.closeButton:focus {
  outline: none;
  color: var(--second-color);
}

.Toastify__toast-theme--colored.Toastify__toast--default {
  background-color: var(--background);
  color: var(--main-color);
}

.Toastify__toast--info {
  background-color: var(--third-color);
  color: var(--main-color);
}

.Toastify__toast--success {
  background-color: var(--last-color);
  color: white;
}

.Toastify__toast--warning {
  background-color: var(--second-color);
  color: black;
}

.Toastify__toast--error {
  background-color: #f56260;
  color: white;
}