:root {
  --s-background: #91B0A0;
  --main-color: #2f4f4f;
  --high-color: #676e41;
  --background: #e6e6e6;
  --second-color: #92B0A0;
  --third-color: #cde1d8;
  --last-color: #7AB99C;
  --highlight-color: #ffbd5a;
  --dark-text: #333;
  --light-text: #ffffff;
  --card-background: #f1f1f1;
  --border-color: #dcdcdc;
  --text-color: #333333;
  --error-color: #d9534f;

  --primary: #416E6B;
  --highlight: #f6dd7b;
  --neutral-light: #e8f0ef;
  --neutral-dark: #2f4f4f;
  --text-dark: #1e1e1e;
  --text-muted: #6c757d;

  --toastify-color-info: #8cb0c8 !important;
  --toastify-color-success: #67a069 !important;
  --toastify-color-warning: #f6dd7b !important;
  --toastify-color-error: #d9534f !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--main-color);
  background: var(--background);
  margin: 0;
  padding: 0;

  .react-datepicker-wrapper {
    width: 100%;
    text-align: left;
  }

  .react-datepicker__current-month {
    text-transform: capitalize;
  }

  .Toastify__toast-theme--colored.Toastify__toast--default {
    background-color: var(--background);
    color: var(--main-color);
  }

  .Toastify__toast-theme--colored.Toastify__toast--info {
    background-color: var(--background);
    color: var(--main-color);
  }
}

input {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 80px;
}